@charset "UTF-8";
body {
  font-family: Lato;
  margin: 0 auto;
  max-width: 1440px; }

a {
  text-decoration: none; }

.flex {
  display: flex; }

.white-text {
  color: #FFF; }

.btn-primary {
  color: #FFFFFF !important;
  background-color: #619EB3;
  padding: 1em 1.5em;
  border-radius: 5px;
  font-size: 14px !important; }
  @media only screen and (max-width: 812px) {
    .btn-primary {
      font-size: 10px !important; } }

#header {
  height: auto;
  margin: 0.5em 1em; }
  #header ul {
    padding: 0;
    list-style: none;
    margin: 0; }
  #header .nav {
    justify-content: space-evenly;
    align-items: center; }
  #header li {
    margin: 0 0.8em; }
  #header a {
    text-transform: uppercase;
    color: #619EB3;
    font-size: 14pt; }
    @media only screen and (max-width: 812px) {
      #header a {
        font-size: 10px; } }
  #header .logo {
    margin-right: auto; }
  #header #logo {
    max-height: 80px; }
    @media only screen and (max-width: 768px) {
      #header #logo {
        max-height: 40px; } }
  @media only screen and (max-width: 425px) {
    #header .no-mobile {
      display: none; } }

#menu-btn {
  border: none; }
  #menu-btn:focus {
    outline: 0; }

#menu {
  display: none;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 308px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 425px) {
    #menu {
      width: 100vw;
      height: auto; } }
  #menu .menu-list {
    margin-bottom: 3em; }
    @media only screen and (max-width: 425px) {
      #menu .menu-list {
        margin-bottom: 1em; } }
  #menu .menu-list-item {
    margin: 2em; }
    @media only screen and (max-width: 425px) {
      #menu .menu-list-item {
        margin: 1em; } }
  @media only screen and (min-width: 425px) {
    #menu .only-mobile {
      display: none; } }
  #menu .close-menu {
    text-align: right;
    margin: 1em 2em;
    color: #619EB3; }

#slide-show {
  max-width: 100%;
  margin-bottom: -3px; }
  #slide-show img {
    width: 100%; }
    @media only screen and (max-width: 425px) {
      #slide-show img {
        height: 70vh;
        max-width: 100vw;
        object-fit: none; } }
  #slide-show .img-container {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #608bb2; }
  #slide-show .text-items {
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    max-height: 200px; }
  #slide-show .main-text {
    font-family: Lato-black;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 37px;
    line-height: 50px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 1000px) {
      #slide-show .main-text {
        letter-spacing: 3px;
        font-size: 20px;
        line-height: 30px; } }
  #slide-show .sub-text {
    /* We specialize in pla: */
    font-family: Lato-bold;
    width: 60%;
    font-family: Lato-Bold;
    font-size: 20px;
    letter-spacing: 0.91px;
    line-height: 32px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 1000px) {
      #slide-show .sub-text {
        font-size: 10px;
        letter-spacing: 0.91px;
        line-height: 15px; } }
  #slide-show #img_1 {
    display: none; }
  #slide-show .img-index {
    width: auto; }
    #slide-show .img-index .img-index-dot {
      width: 16px;
      height: 16px;
      border-radius: 10px;
      border: 1px solid white;
      margin: 0.5rem; }
      @media only screen and (max-width: 768px) {
        #slide-show .img-index .img-index-dot {
          width: 10px;
          height: 10px; } }
    #slide-show .img-index .filled {
      background: white; }

#news {
  background-image: url("../images/shore.png");
  width: 100%;
  height: 140px; }
  @media only screen and (max-width: 425px) {
    #news {
      background-color: #608bb2;
      background-image: none;
      height: 80vh; } }
  #news ul.news-list {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 425px) {
      #news ul.news-list {
        flex-direction: column;
        justify-content: space-evenly; } }
  #news li.news-list-item a {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 425px) {
      #news li.news-list-item a {
        align-items: center; } }
    #news li.news-list-item a img {
      width: 80px;
      height: 80px; }
      @media only screen and (max-width: 768px) {
        #news li.news-list-item a img {
          display: none; } }
      @media only screen and (max-width: 425px) {
        #news li.news-list-item a img {
          display: inline-block;
          max-width: 60px;
          max-height: 60px; } }
    #news li.news-list-item a .headline {
      font-family: Lato-Bold;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 23px;
      margin-left: 1em;
      width: 60%; }
      @media only screen and (max-width: 768px) {
        #news li.news-list-item a .headline {
          font-size: 11px;
          text-align: center;
          margin: auto; } }
  #news .divider-vert {
    border: 1px solid white;
    height: 80px;
    width: 0;
    margin-left: -1em; }
    @media only screen and (max-width: 425px) {
      #news .divider-vert {
        border: 1px solid white;
        height: 0px;
        width: 75vw;
        margin: 1em 0; } }

#what-we-do {
  height: auto;
  width: 100%;
  background-color: #F3F3F3; }
  #what-we-do .do-container {
    padding: 3em 4em;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      #what-we-do .do-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 3em 0; } }
    #what-we-do .do-container .text {
      width: 50%; }
      @media only screen and (max-width: 768px) {
        #what-we-do .do-container .text {
          width: 80vw; } }
      #what-we-do .do-container .text .title-blue {
        /* Peck-Law Steps Up: */
        font-family: Lato-black;
        text-transform: uppercase;
        font-size: 22px;
        color: #619EB3;
        letter-spacing: 2.57px; }
      #what-we-do .do-container .text .sub-title-blue {
        /* for people whose rig: */
        font-family: Raleway-Regular;
        font-size: 18px;
        color: #619EB3;
        letter-spacing: 1.06px;
        line-height: 28px; }
      #what-we-do .do-container .text #divider {
        margin-top: 1em;
        width: 30px;
        border: 1px solid #619EB3; }
      #what-we-do .do-container .text .body-text {
        /* First, we listen and: */
        font-family: Raleway-Regular;
        font-size: 14px;
        color: #464646;
        letter-spacing: 1px;
        line-height: 23px;
        margin: 1em 0; }
      #what-we-do .do-container .text .learn-more {
        margin-top: 3em;
        margin-bottom: 2em; }
        #what-we-do .do-container .text .learn-more a {
          text-transform: uppercase;
          font-family: Lato-bold;
          letter-spacing: 2.33px; }
    #what-we-do .do-container .video-container {
      width: 45%; }
      @media only screen and (max-width: 768px) {
        #what-we-do .do-container .video-container {
          width: 80vw; } }
      @media only screen and (max-width: 425px) {
        #what-we-do .do-container .video-container {
          width: 90vw; } }
      #what-we-do .do-container .video-container .img-container {
        position: relative; }
        #what-we-do .do-container .video-container .img-container #thumbnail {
          max-width: 100%; }
        #what-we-do .do-container .video-container .img-container #play-button {
          position: absolute;
          left: 10px;
          bottom: 15px; }
      #what-we-do .do-container .video-container .caption {
        font-family: Raleway-Regular;
        font-size: 14px;
        letter-spacing: 0.75px; }
        #what-we-do .do-container .video-container .caption span.meet {
          font-size: 17px;
          letter-spacing: 2.33px;
          color: #619EB3; }

#others {
  background-image: url("../images/wave.png");
  width: 100%;
  height: auto; }
  #others .others-container {
    padding: 2em 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    #others .others-container a {
      text-transform: uppercase;
      font-family: Lato-bold;
      letter-spacing: 2.33px;
      margin-top: 1rem; }
    #others .others-container .title {
      /* WHAT OTHERS SAY: */
      font-family: Lato-black;
      font-size: 22px;
      letter-spacing: 2.57px;
      text-transform: uppercase; }
    #others .others-container .divider {
      width: 40px;
      border: 4px solid #B1D2DB;
      margin: 1em 0; }
    #others .others-container .test-container {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 0 4em; }
      @media only screen and (max-width: 425px) {
        #others .others-container .test-container {
          padding: 0;
          flex-direction: column;
          align-items: center; } }
      #others .others-container .test-container .test-item {
        width: 30%;
        min-width: 300px;
        font-family: Raleway-Medium;
        font-size: 14px;
        letter-spacing: 1.1px;
        line-height: 23px; }
        @media only screen and (max-width: 768px) {
          #others .others-container .test-container .test-item {
            margin-bottom: 1em; } }

#request {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  #request .title {
    /* REQUEST A CONSULTATI: */
    font-family: Lato-black;
    font-size: 22px;
    color: #619EB3;
    letter-spacing: 2.57px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center; }
  #request .divider {
    margin-bottom: 1rem;
    width: 40px;
    border: 4px solid #B1D2DB; }
  #request .text {
    /* If you’d like to rea: */
    font-family: Raleway-Regular;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 1.1px;
    line-height: 25px;
    width: 40vw;
    text-align: center;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 768px) {
      #request .text {
        width: 80vw; } }
  #request a {
    text-transform: uppercase;
    font-family: Lato-bold;
    letter-spacing: 2.33px; }

#accolades {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0; }
  #accolades .accolades-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0; }
    @media only screen and (max-width: 425px) {
      #accolades .accolades-list {
        flex-direction: column; } }
  #accolades .accolades-list-item {
    padding: 0; }
    @media only screen and (max-width: 425px) {
      #accolades .accolades-list-item {
        padding: 1em 0; } }

#footer {
  width: 100%;
  text-transform: uppercase;
  font-family: Lato; }
  #footer .footer-container {
    padding: 2em 4em;
    border-top: 1px solid #EAE9E9;
    border-bottom: 1px solid #EAE9E9;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      #footer .footer-container {
        flex-direction: column;
        align-items: base-line; } }
    @media only screen and (max-width: 425px) {
      #footer .footer-container {
        padding: 2em 0 2em 1em; } }
  #footer .left .title, #footer .right .title {
    font-family: Lato-bold;
    font-size: 17px;
    color: #619EB3;
    letter-spacing: 2px;
    text-transform: uppercase; }
  #footer .right > .title {
    margin-bottom: 1em; }
  #footer .explore {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    @media only screen and (max-width: 425px) {
      #footer .explore {
        flex-direction: column; } }
    #footer .explore .explore-list {
      padding: 0 2em 0 0;
      list-style: none; }
      @media only screen and (max-width: 425px) {
        #footer .explore .explore-list .explore-list-item {
          padding-bottom: 1em; } }
      #footer .explore .explore-list .explore-list-item a {
        font-family: Lato;
        font-size: 12px;
        color: #4A4A4A;
        letter-spacing: 1.5px;
        line-height: 19px; }
  #footer .contact {
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 1.64px;
    line-height: 18px;
    height: auto; }
    #footer .contact div {
      margin-bottom: 0.5em; }
      @media only screen and (max-width: 425px) {
        #footer .contact div {
          padding-bottom: 1em; } }
    #footer .contact span.icon-mail {
      display: inline-block;
      object-fit: fill;
      background-image: url("../images/icons/mail@1x.png");
      width: 22px;
      height: 14px; }
    #footer .contact span.icon-phone {
      display: inline-block;
      object-fit: fill;
      background-image: url("../images/icons/phone@1x.png");
      width: 18px;
      height: 18px; }

#copyright {
  text-align: center;
  width: 100%;
  /* © Copyright 2017 Pec: */
  font-family: AvenirNext-Regular;
  font-size: 12px;
  color: #9B9B9B;
  letter-spacing: 0.5px;
  line-height: 60px; }
